/* src/components/Header.css */
.header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .header .nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
  }
  