/* src/components/Page.css */
.page {
    padding: 50px;
    background-color: #e6f7ff;
    text-align: center;
  }
  
  .page h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .page p {
    font-size: 18px;
    color: #555;
    max-width: 600px;
    margin: 0 auto 20px;
  }
  
  .form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .btn {
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #e04e2b;
  }
  